/* body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.form-container {
  width: 100%;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;  
}

button {
  width: 25%;
  padding: 10px;
  margin: 10px;
  background-color: #005e25;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0f2518;
}

 select >option{
  padding: 10px;
  border-radius: 10px;
} */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}

.img {
  width: 50%;
  height: 100vh;
}

.img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.container {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.form-container {
  width: 400px;
  height: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(216, 216, 216, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container form {
  width: 100%;
  max-width: 400px;
}

.form-group> label {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 200;
}

.form-group> input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-group> button {
  width: 25%;
  padding: 10px;
  margin: 10px;
  background-color: #005e25;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #1a4228;
}

::-webkit-scrollbar {
  display: none;
}

button {
  width: 25%;
  padding: 10px;
  margin: 10px;
  background-color: #005e25;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0f2518;
}