* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
}

.img {
  width: 50%;
  height: 100vh;
}

.img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.login {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.login-cntainer {
  width: 400px;
  height: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(216, 216, 216, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login h1 {
  margin-bottom: 20px;
}

.login form {
  width: 100%;
  max-width: 400px;
}

.login label {
  display: block;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 200;
}

.login input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login button {
  width: 25%;
  padding: 10px;
  margin: 10px;
  background-color: #005e25;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login button:hover {
  background-color: #1a4228;
}

::-webkit-scrollbar {
  display: none;
}




/* popup css */

.popup-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  display: none;
  z-index: 1000;
}

.popup-message.success {
  background-color: green;
}

.popup-message.error {
  background-color: red;
}
