.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-col{
    flex-basis: 31%;
    background: lightgray;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.why{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.why-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.why-col img{
    width: 100%;
    border-radius: 10px;
}

.why-col p{
    padding: 0;
    text-align: left;
}

.why-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.testimonals{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonal-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: lightpink;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonal-col img{
    height: 60px;
    width: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.testimonal-col p{
    padding: 0;
}

.testimonal-col h3{
    margin-top: 15px;
    text-align: left;
}

/* .testimonal-col .fa{
    color: black;
} */